<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Post</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="journalPost">
      </div>
      <div class="mb-3" style="padding-bottom: 2.5rem ; " >
        <label for="exampleFormControlTextarea1" class="form-label">Title</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="journalTitle"></textarea>
      </div>
      <div>
    <button type="submit"  class="btn btn-primary" name="" >Publish</button></div>
</form>
<%- include('partials/footer'); -%>